.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
  
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
  
.dashboard-card-content {
    text-align: center;
    font-size: 1.2rem;
}
  
.dashboard-card-footer {
    text-align: right;
    margin-right:15px;
}
  
.mat-card {
    display:flex;
    flex-direction: column;
}
  
.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0; 
}
  
.mat-card-content{
    flex-grow: 1;
    overflow: auto;
    outline: 1px solid gray;
    padding: 40px;
    word-break: break-all;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.unsubscribeButton {
    margin-left: 15px;
}