<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{course.title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div>{{course.description}}</div>
  </mat-card-content>
  <mat-card-footer class="dashboard-card-footer">
    created by {{course.creator_name}} at {{course.created_at | date:'mediumDate'}}
  </mat-card-footer>
  <div class="buttons">
    <mat-card-actions>
      <button mat-raised-button (click)="subscribe(); isSubscribing = true; isUnsubscribing = false" [disabled]="isSubscribing">Subscribe</button>
    </mat-card-actions>
    <mat-card-actions class="unsubscribeButton">
      <button mat-raised-button (click)="unsubscribe(); isUnsubscribing = true; isSubscribing = false;" [disabled]="isUnsubscribing">Unsubscribe</button>
    </mat-card-actions>
  </div>

</mat-card>