div {
    
    ul {
      padding-top: 20px;
      text-align: center;
      margin-bottom: 20px;
      max-height: 400px;
      height: inherit;
      li {
        display: inline-block;
        margin-right: 30px;
        a {
          margin-top: 20px;
          color: gray;
          text-decoration: none;
        }
        &:after {
          content: '';
          margin-top: 5px;
          display: block;
          width: 0;
          height: 2px;
          background: gray;
          transition: width 0.3s;
        }
        &.selected {
          &:after {
            width: 100%;
          }
        }
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
  