<mat-dialog-content [formGroup]="editCourseForm">

  <mat-form-field>
    <input matInput placeholder="Edit Title" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Edit Description" formControlName="description"></textarea>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="edit()">Edit</button>
</mat-dialog-actions>