.student {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0;
}   img {
        height: 70px;
        width: 70px;
        margin: 10px;
    }
    a {
        margin: 40px;
    }