.resourceWrapper {
    display: flex;
    flex-direction: row;
    .deleteIconWrapper{
        margin-right: 15px;
        
    }
}

.dledde {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.editdelete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit {
    margin-right: 10px;
}

.delete {
    margin-right: 10px;
}

.dload {
    margin-right: 10px;
}