<div class="resourceWrapper">
  <a mat-list-item href="{{ resource.url }}" target="_blank" *ngIf="(resource.resource_name == null); else nameExists">{{resource.url}}</a>
  <ng-template #nameExists>
    <a mat-list-item href="{{ resource.url }}" target="_blank">{{resource.resource_name}}</a>
  </ng-template>

  <div class="editdelete" *ngIf="((course.creator == user.uuid) && (user.role == 'admin'))">
    <a class="edit" href="#" (click)="openEdit();false">
      <fa-icon [icon]="editIcon"></fa-icon>
    </a>
    <a href="#" class="delete" (click)="openDialog();false">
      <fa-icon [icon]="deleteIcon"></fa-icon>
    </a>
  </div>


</div>