<form class="form-container" [formGroup]="registerForm" (ngSubmit)="register()">
  <el-error></el-error>

  <mat-form-field>
    <input matInput type="text" placeholder="Full Name" formControlName="fullName">
  </mat-form-field>
  <mat-error *ngIf="registerForm.get('fullName').invalid && (registerForm.get('fullName').dirty || registerForm.get('fullName').touched)">{{getErrorName()}}</mat-error>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">{{getErrorEmail()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">{{getErrorPassword()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [errorStateMatcher]="matcher" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
    <mat-error *ngIf="registerForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit">Register</button>
</form>