<form class="form-container" [formGroup]="courseForm" (ngSubmit)="addCourse()">

  <div class="example-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" type="textarea" placeholder="Description"
        formControlName="description"></textarea>
    </mat-form-field>

    <button type="submit" [disabled]="courseForm.invalid" mat-raised-button>
      Create Course
    </button>


  </div>
</form>