.example-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    height : 70vh;

}
  
.example-container > .mat-form-field {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    height: 20%;
}

button {
    background-color: gray;
    width: 20%;
    margin: 0 auto;
}

