<form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
  <el-error></el-error>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorEmail()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorPassword()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit">Login</button>
</form>