<el-resource-forms *ngIf="((course.creator == currentUser.uuid) && (currentUser.role == 'admin'))"></el-resource-forms>


<mat-nav-list>
  <div *ngFor="let resource of resources$ | async">
    <a mat-list-item href="{{ resource.url }}" target="_blank" *ngIf="(resource.resource_name == null); else nameExists">{{resource.url}}</a>
    <ng-template #nameExists>
      <a mat-list-item href="{{ resource.url }}" target="_blank">{{resource.resource_name}}</a>
    </ng-template>
  </div>

</mat-nav-list>