<form class="example-form form-container" [formGroup]="searchForm" (ngSubmit)="searchCourses()">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Search Courses" formControlName="q">
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Search</button>
</form>

<hr>

<div class="grid-container">
  <h1 class="mat-h1">Courses</h1>
  <mat-grid-list [cols]="cols" rowHeight="350px">
    <ng-container *ngIf="(user$ | async) as currentUser">
      <ng-container *ngIf="(myCourses$ | async) as myCourses">
        <mat-grid-tile *ngFor="let course of allCourses$ | async">
          <el-course [course]="course" [user]="currentUser"></el-course>
        </mat-grid-tile>
      </ng-container>
    </ng-container>
  </mat-grid-list>
</div>