<form class="example-form form-container" [formGroup]="searchForm" (ngSubmit)="searchCourses()">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Search Courses" formControlName="q">
  </mat-form-field>
  <button mat-raised-button type="submit">Search</button>
</form>

<hr>

<div class="grid-container">
  <h1 class="mat-h1">Courses</h1>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile *ngFor="let course of courses$ | async">
      <el-course [course]="course" [user]="currentUser"></el-course>
    </mat-grid-tile>
  </mat-grid-list>
</div>