.grid-container {
  margin: 20px;
}

.example-form {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-top: 30px;
  min-width: 150px;
  max-width: 500px;
  width: 70%;
  margin: 0 auto;
}

.mat-raised-button {
  margin: 10px;
}

.example-full-width {
  width: 100%;
}